@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: hsl(255, 255%, 255%);
  color: hsl(221, 27%, 18%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.card-prueba {
  position: relative;
  border: 1px solid #eaeaea;
  background: #e6f2fa;
  display: block;
  height: auto;
  border-radius: 0.5rem;
  padding: 1.25rem 1rem;
}

.gradient-background {
  background: linear-gradient(to bottom, #b6dde5, #21293a); 
}

